# Files and folders created by aclocal, autoconf, automake, and libtoolize
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
Makefile
Makefile.in

# Documentation files created by make
/doc/*.aux
/doc/*.cp
/doc/*.cps
/doc/*.dvi
/doc/*.fn
/doc/*.fns
/doc/*.html/
/doc/*.info
/doc/*.ky
/doc/*.log
/doc/*.pdf
/doc/*.pg
/doc/*.ps
/doc/*.toc
/doc/*.tp
/doc/*.tps
/doc/*.vr
/doc/texinfo.tex

# Files created by `make check'
/tests/warning
/tests/error
/tests/png
/tests/pngxx
/tests/raytrace
/tests/*.png

# Files and folders created by libtool
.libs/
*.l[oa]

# Files and folders created by compilation
.deps/
*.[oa]
