# Files and folders created by aclocal, autoconf, automake, and libtoolize
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/ylwrap
Makefile
Makefile.in

# Documentation files created by make
/doc/*.aux
/doc/*.cp
/doc/*.cps
/doc/*.dvi
/doc/*.fn
/doc/*.fns
/doc/*.html/
/doc/*.info
/doc/*.ky
/doc/*.kys
/doc/*.log
/doc/*.pdf
/doc/*.pg
/doc/*.pgs
/doc/*.ps
/doc/*.tmp
/doc/*.toc
/doc/*.tp
/doc/*.tps
/doc/*.vr
/doc/*.vrs
/doc/texinfo.tex

# Files created by `make'
/dimension/dimension
/dimension/grammar.c
/dimension/grammar.h
/dimension/lexer.c

# Files created by `make check'
/tests/*/*-test
/tests/*/*.png
/tests/*/*.log

# Files created by `make bench'
/bench/*/bench-*

# Files and folders created by libtool
.libs/
*.l[oa]

# Files and folders created by compilation
.deps/
*.[oa]
