# Files and folders created by aclocal, autoconf, automake, and libtoolize
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/ylwrap
Makefile
Makefile.in

# Documentation files created by make
/*/doc
Doxyfile
__pycache__

# pkg-config files
*.pc

# Files created by `make check'
/*/tests/*-test
/*/tests/*.png
/*/tests/*.log

# Files created by `make bench'
/*/bench/bench-*

# Files and folders created by libtool
.libs/
*.l[oa]

# Files and folders created by compilation
.deps/
*.[oa]

# Core dumps
core
vgcore.*
